 /* root element structure */

:root
{
    --white: #fff;
    --blue: #1e90ff;
    --blue-hover: #0d80ee;
    --platinum: #E0E1DD;
    --gray: #2d2d2d;
    --light-gray: #3c3c3c;
    --black: #000;
    --default-box-shadow:  0px 5px 10px 1px rgba(0, 0, 0, 0.60);
    --high-contrast-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.80);
    --basic-font-size: 18px;
    --basic-input-font-size: 15px;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--gray);
    color: var(--white);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    min-height: 100svh;
    font-size: var(----basic-font-size);
} 


/* Nav section */

nav
{
    background: var(--blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--default-box-shadow);
}

.nav_logo
{
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
}


.nav_logo a img
{
    aspect-ratio: 1;
    max-width: 3rem;
}

.nav_logo button
{
    display: none;
}

ul,
li
{
    list-style-type: none;
}

.nav_menu
{
    margin-right: 1rem
}

nav a
{
    text-decoration: none;
    color: var(--white);
}

.nav_menu > ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-decoration: none;
    font-size: var(--basic-font-size);
    font-weight: 700;
    z-index: 10;
}

.nav_logo a > img
{
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
}

.nav_menu ul > li > a
{
    display: flex;
    padding: 1rem;
}

.nav_menu > ul > li > a:hover
{
    background: var(--blue-hover);
    box-shadow: var(--high-contrast-box-shadow);
}

.nav_menu > ul > li > ul > li > a:hover
{
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.nav_menu > ul > li
{
    position: relative;
}

.nav_menu ul > li:hover > ul
{
    position: absolute;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}


.nav_menu ul > li > ul
{
    position: absolute;
    opacity: 0;
    background: var(--gray);
    min-width: 300px;
    right: 0;
}


/* Nav media queries */

@media (max-width: 750px)
{
    nav
    {
        flex-flow: column wrap;
    }

    .nav_logo
    {
        min-width: 100%;
    }

    .nav_logo > a
    {
        justify-self: flex-start;
    }

    .nav_menu
    {
        display: grid;
        margin: 0;
        width: 100%;
        grid-template-rows: 0;
        overflow: hidden;
        transform: translate3d(0, -10%, 0);
    }

   .nav_menu.active
   {
        grid-template-rows: 1fr;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease-in-out;
   }

    nav > ul
    {
        flex-flow: column wrap;
    }

    .nav_menu ul > li
    {
        width: 100%;
    }

    .nav_menu ul > li:first-child > a
    {
        border-top: 1px var(--gray) solid;
    }

    .nav_menu ul > li > a
    {
        padding: 1rem 0;
        min-width: 100%;
        justify-content: center;
        border-bottom: 1px var(--gray) solid;
    }

    .nav_menu ul > li > ul
    {
        min-width: 100%;
        opacity: 0;
    }

    .nav_menu ul > li:hover > ul
    {
        position: static;
        opacity: 1;
    }

    .nav_menu ul > li > ul > li > a
    {
        padding: 1rem 0;
        min-width: 100%;
        border-bottom: 1px var(--black) solid;
    }

    .nav_logo button
    {
        display: block;
        background-color: transparent;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        width: 2.5rem;
        aspect-ratio: 1;
        margin-inline: auto calc(50% - 1.25rem);
        align-self: center;
    }

    .nav_logo button[data-background = "hamburger"]
    {
        background-image: url("img/hamburger.svg");
    }

    .nav_logo button[data-background = "cross"]
    {
        background-image: url("img/cross.svg");
    }

}

/* logo section */

.logo
{
    display: grid;
    place-items: center;
    padding-block: 1rem;
    padding-inline: 20px 0;
}

.logo img
{
    display: flex;
    aspect-ratio: 500/157;
    max-width: min(75%, 500px);
}


main
{
   display: flex;
   flex-flow: column nowrap;
   gap: 15px;
   flex-grow: 1;
}

.primary-header
{
    display: grid;
    place-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px 0;
    background-color:var(--platinum);
    box-shadow: var(--high-contrast-box-shadow);
    width: calc(100svw - 4%);
}

h1,
h2
{
    display: flex;
    color: var(--gray);
}

h1
{
    font-size: 36px;
    font-weight: 900;
}

h2
{
    font-size: 30px;
    font-weight: 900;
}

h3
{
    font-size: 26px;
    color: var(--white); 
    font-weight: 700;
}

/*main-page-styling*/

.main-page-header
{
    color: var(--white);
}

.main-page-content
{
    display: grid;
    width: min(76em, 95%);
    margin-inline: auto;
}

.instruction-container
{
    padding: 1.5rem;
    margin-inline: 1rem;
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.functionality-container
{
    display: grid;

    gap:1rem;
    padding: 1rem;
}

.functionality-container-header
{
    display: grid;

    place-items: center;
    padding: 1rem;
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.functionality-description
{
    /* grid-column: 3;
    grid-row: 2 / span 2; */

    border-radius: 10px;
    padding: 1rem;
    background-color: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.functionality-element-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.functionality-element
{
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    padding: 1rem;
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

#generated_text_output
{
    padding-block: 1rem;
}

.functionality-img-container
{
   display: grid;
   place-items: center;
   flex-grow: 1;
}

.functionality-img-container > img
{
    max-width: 40px;
    aspect-ratio: 1;
    padding: 0.5rem;
    margin: 0.5rem;
}

.functionality-element-text
{
    text-align: center;
}

@media (min-width: 500px)
{
    .functionality-description
    {
        grid-column: 2;
        grid-row: 2 / span 2;
    }

    .functionality-container-header
    {
        grid-column: span 2;
    }
}

@media (min-width: 750px)
{
    .functionality-description
    {
        grid-column: 3;
        grid-row: 2 / span 2;
    }

    .functionality-container-header
    {
        grid-column: span 3;
    }

    .functionality-container
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

.functionality-element:hover
{
    background: var(--blue-hover);
}

/*Sections styling*/

.container-grid
{
    display: grid;
    gap: 1em;
    width: min(76em, 96%);
    margin-inline: auto;
    margin-bottom: 15px;
}

.boxheader
{
    display: grid;
    place-items: center;
    padding-block: 10px;

    font-size: 24px;
    font-weight: 300;
}

.box
{
    display: grid;
    gap: 0.5em;
    align-content: start;
    padding-block: 0.25em 1.25em;

    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: var(--high-contrast-box-shadow);  
}

.label
{
    display: flex;
    justify-content: center;
}

.input-container
{
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

@media(min-width: 950px){
    .contheader{
        grid-column: span 2;
    }

    .container-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 475px){
    .boxheader
    {
        grid-column: span 2;
    }

    .box
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .label
    {
        justify-content: end;
    }

    .input-container
    {
        justify-content: start;
    }
}

/* ---------------------------- */

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background-color: #252525;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0,0.80);
    padding: 0.5rem 0;
    margin-top: 15px;
}

/* containers internal style */

.contheader
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.65rem;
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.contheader > h3.contains-input
{
    display: flex;
    justify-content: center ;
    flex-flow: row wrap;
    gap: 0.25rem;
}

/* input styling */

.contheader-select
{
    display: block;
    width: max-content;
    padding: 0;
    border: none;
    background: transparent;

    font-size: inherit;
    font-weight: inherit;
    color: var(--white);
}

.contheader-select:focus{
    background: var(--light-gray);
    border: none;
    outline: transparent;
}

input[type = "text"],
input[type = "number"],
select
{
    width: 13.1em;
    border-radius: 5px;
    font-size: var(--basic-input-font-size);
    padding: 2px;  
    box-sizing: border-box;
    border: none;
}

select
{
    width: 13.1em;
    border-radius: 5px;
}

input.half
{
    width: calc(13.1em/2 - 0.1em);
}

/* input hover effects */

input:hover,
input:focus
{
    cursor: text;
    outline: transparent;
}

select:hover,
select:focus
{
    cursor: context-menu;
    outline: transparent;
}

/* a styling */

footer a
{
    text-decoration: none;
    color: var(--white);
}

footer a:focus-visible,
footer a:hover
{
    outline: 0;
    color: #0D80EE;
    transition: color 2s;
}

/* invisible class */

.invisible
{
    display: none;
}