 /* root element structure */

:root
{
    --white: #fff;
    --blue: #1e90ff;
    --blue-hover: #0d80ee;
    --platinum: #E0E1DD;
    --gray: #2d2d2d;
    --light-gray: #3c3c3c;
    --black: #000;
    --default-box-shadow:  0px 5px 10px 1px rgba(0, 0, 0, 0.60);
    --high-contrast-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.80);
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--gray);
    color: var(--white);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-items: space-around;
    min-height: 100svh;
} 


/* Nav section */

nav
{
    background: var(--blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--default-box-shadow);
}

.nav_logo
{
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
}


.nav_logo a img
{
    aspect-ratio: 1;
    max-width: 3rem;
}

.nav_logo button
{
    display: none;
}

ul,
li
{
    list-style-type: none;
}

.nav_menu
{
    margin-right: 1rem
}

nav a
{
    text-decoration: none;
    color: var(--white);
}

.nav_menu > ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    z-index: 10;
}

.nav_logo a > img
{
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
}

.nav_menu ul > li > a
{
    display: flex;
    padding: 1rem;
}

.nav_menu > ul > li > a:hover
{
    background: var(--blue-hover);
    box-shadow: var(--high-contrast-box-shadow);
}

.nav_menu > ul > li > ul > li > a:hover
{
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.nav_menu > ul > li
{
    position: relative;
}

.nav_menu ul > li:hover > ul
{
    position: absolute;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}


.nav_menu ul > li > ul
{
    position: absolute;
    opacity: 0;
    background: var(--gray);
    min-width: 300px;
    right: 0;
}


/* Nav media queries */

@media (max-width: 750px)
{
    nav
    {
        flex-flow: column wrap;
    }

    .nav_logo
    {
        min-width: 100%;
    }

    .nav_logo > a
    {
        justify-self: flex-start;
    }

    .nav_menu
    {
        display: grid;
        margin: 0;
        width: 100%;
        grid-template-rows: 0;
        overflow: hidden;
        transform: translate3d(0, -10%, 0);
    }

   .nav_menu.active
   {
        grid-template-rows: 1fr;
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease-in-out;
   }

    nav > ul
    {
        flex-flow: column wrap;
    }

    .nav_menu ul > li
    {
        width: 100%;
    }

    .nav_menu ul > li:first-child > a
    {
        border-top: 1px var(--gray) solid;
    }

    .nav_menu ul > li > a
    {
        padding: 1rem 0;
        min-width: 100%;
        justify-content: center;
        border-bottom: 1px var(--gray) solid;
    }

    .nav_menu ul > li > ul
    {
        min-width: 100%;
        opacity: 0;
    }

    .nav_menu ul > li:hover > ul
    {
        position: static;
        opacity: 1;
    }

    .nav_menu ul > li > ul > li > a
    {
        padding: 1rem 0;
        min-width: 100%;
        border-bottom: 1px var(--black) solid;
    }

    .nav_logo button
    {
        display: block;
        background-color: transparent;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        width: 2.5rem;
        aspect-ratio: 1;
        margin-inline: auto calc(50% - 1.25rem);
        align-self: center;
    }

    .nav_logo button[data-background = "hamburger"]
    {
        background-image: url("img/hamburger.svg");
    }

    .nav_logo button[data-background = "cross"]
    {
        background-image: url("img/cross.svg");
    }

}

/* logo section */

.logo
{
    padding: 50px 0;
    padding-left: 20px;
    display: grid;
    place-items: center;
}

.logo img
{
    min-width: 250px;
    max-width: 500px;
}

main
{
   display: flex;
   flex-flow: column nowrap;
   gap: 15px;
   flex-grow: 1;
}

.primary-header
{
    display: grid;
    place-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px 0;
    background-color:var(--platinum);
    box-shadow: var(--high-contrast-box-shadow);
    width: calc(100svw - 4%);
}

h1
{
    font-size: 36px;
    font-weight: 900;
}

h2
{
    font-size: 30px;
    font-weight: 900;
}

h3
{
    font-size: 26px;
    color: var(--white); 
    font-weight: 700;
}

h1,
h2
{
    color: var(--gray);
}

.container-grid
{
    display: grid;
    gap: 1em;
    width: min(76em, 96%);
    margin-inline: auto;
    margin-bottom: 15px;
}

/* ---------------------------- */

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background-color: #252525;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0,0.80);
    padding: 0.5rem 0;
    margin-top: 15px;
}

/* containers internal style */

.contheader
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 0.25em;
    padding: 10px;
    background: var(--light-gray);
    box-shadow: var(--high-contrast-box-shadow);
}

.boxheader
{
    padding-block: 5px 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.box
{
    display: flex;
    gap: 0.5em;
    padding-block: 0.25em 1.5em;
    flex-flow: column nowrap;
    background-color: var(--light-gray);
    border-radius: 5px;
    box-shadow: var(--high-contrast-box-shadow);
    text-align: right;
}

.boxline
{
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: flex-end;
    margin-right: min(3em,12%);
    font-size: 20px;
}

@media(min-width: 1000px){
    .contheader{
        grid-column: span 2;
    }

    .container-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* input styling */

input[type = "text"],
input[type = "number"]
{
    width: min(16em,40%);
    border-radius: 5px;
    font-size: 15px;
    padding: 2px;  
    box-sizing: border-box;
    border: none;
}

select
{
    width: min(16em,40%);
    border-radius: 5px;
    font-size: 15px;
    padding: 2px;
    border:none;
}

input.half
{
    width: min(7.90em,19.65%);
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px;  
    box-sizing: border-box; 
}

select.long
{
    width: 20em;
}

/* input hover effects */

input:hover,
input:focus
{
    cursor: text;
    outline: transparent;
}

select:hover,
select:focus
{
    cursor: context-menu;
    outline: transparent;
}

/* a styling */

footer a
{
    text-decoration: none;
    color:  var(--white);
}

footer a:focus-visible,
footer a:hover
{
    outline: 0;
    color: #0D80EE;
    transition: color 2s;
}

/* invisible class */

.invisible
{
    display: none;
}